* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f8fc;
    position: relative;
}

.content {
    background-color: #fff;
    height: 100%;
    padding: 1rem;
    width: 100vw;
}

@media screen and (min-width: 992px) {
    .content {
        border-radius: 1rem;
        height: auto;
        margin: 1rem auto;
        max-width: 992px;
    }
}
