.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c858;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pokemon {
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
}

.pokemon .number {
    color: #000;
    font-size: 0.625rem;
    text-align: right;
    opacity: 0.3;
}

.pokemon .name {
    color: #fff;
    margin-bottom: 0.25rem;
    text-transform: capitalize;
}

.pokemon .detail {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.pokemon .detail .types {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pokemon .detail .types .type {
    border-radius: 1rem;
    color: #fff;
    filter: brightness(1.075);
    font-size: 0.625rem;
    margin: .25rem 0;
    padding: 0.25rem 0.5rem;
    text-align: center;
}

.pokemon .detail img {
    height: 70px;
    max-width: 100%;
}

#buttonLoadMore {
    background-color: #6e5896;
    border: none;
    border-radius: 1rem;
    color: white;   
    cursor: pointer;
    display: block;
    margin-inline: auto;
    margin-block: 1rem;
    padding: 0.5rem 0.75rem;
}

/* -------------------------------------- MODAL -------------------------------------- */

.background-modal {
    background-color: rgba(255,255,255,0.95);
    height: 100vh;
    position: fixed;
        top: 0;
        left: 0;
    width: 100vw;
    z-index: 100;
}

.hide {
    display: none;
}

.close {
    cursor: pointer;
    position: absolute;
        top: 0px;
        right: 0px;
    transform: scale(1);
}

.modal {
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    border-radius: 1rem;
    margin-inline: auto;
    margin-top: 20px;
    max-width: 360px;
    position: absolute;
        left: 0;
        right: 0;
    z-index: 200;
}

.header-modal {
    border-radius: 1rem 1rem 0 0;
    display: flex;
    flex-direction: column;
    height: 16em;
    padding: 1rem;
    padding-bottom: 0;
}

.header-modal .name-modal {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.header-modal .name-modal h2 {
    color: #fff;
    font-size: 1.75rem;
    margin: 0;
}

.header-modal .name-modal span {
    color: #fff;
}

.types-modal {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;
}

.type-modal {
    border-radius: 1rem;
    color: #fff;
    filter: brightness(1.05);
    font-size: 0.70rem;
    line-height: 0;
    text-align: center;
    padding: 0.75rem 0.75rem;
}

.image-modal {
    align-self: center;
    height: 200px;
}

.info-pokemon {
    background-color: #fff;
    border-radius: 1rem;
    margin-top: -1rem;
    padding: 1rem;
    padding-top: 4rem;
    width: 100%;
}

.info-pokemon tr td:nth-child(1) {
    color: #9e9e9e;
}

/* -------------------------------------- MEDIA QUERY -------------------------------------- */

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}